<header class="b-header">
  <nav class="navbar navbar-inverse">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a
          class="b-navbar-brand">
          <div class="b-logo">
            <img src="/assets/img/logo.png" alt="Bookmarker Logo" width="32">
          </div>
          <a class="navbar-brand" href="#">Bookmarker</a>
        </a>

      </div>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" title="Cerrar sesión">Salir</a>
        </li>
      </ul>

    </div><!-- /.container-fluid -->
  </nav>
</header>
